android/LiveDemo2/.idea/compiler.xml
android/LiveDemo2/.idea/encodings.xml
android/LiveDemo2/.idea/gradle.xml
android/LiveDemo2/.idea/misc.xml
android/LiveDemo2/.idea/modules.xml
android/LiveDemo2/.idea/runConfigurations.xml
android/LiveDemo2/.idea/copyright/profiles_settings.xml
.DS_Store
